# Ignore the eclipse configuration files


# Ignore Maven files
# Ignore classes files
build/*
build/
target/*
target/
WEB-INF/classes/
WEB-INF/classes/*
WEB-INF/deploy
WEB-INF/deploy/*
.settings/
.settings/*

*.air
*.apk
*.class
*.db
ehthumbs.db  
Thumbs.db 

# Other source repository archive directories (protects when importing)
.svn/
bin-debug/
bin-debug/*
bin-release-temp/
bin-release-temp/*
